In [1]:
#faren una linea de comentari, es una linea de codi que no séxecuta
#las variables amb python -es un objetivo que 
x=10
X=5
x+X

15

PRACTICA LOS MESES, QUE CONTENGA LOS MESES DE ENERO A JUNIO MENOS EL MES DE ABBRIL, AGREGUE AL FINAL DE LA LISTALOS MESES DE JULIO Y AGOSTO.INSERTE EL EL MES DE ABRIL Y AGREGUE AL FINAL LOS MESES DE MARZO Y JULIO. FINAMLMENTE LOS MESES NO CORECTOS EN ORDEN CRONOLOGICO.

In [18]:
meses =["enero","febrero","marzo","mayo","junio"]
print(meses)

['enero', 'febrero', 'marzo', 'mayo', 'junio']

In [20]:
meses.append("julio")
meses.append("agosto")
print(meses)

['enero', 'febrero', 'marzo', 'mayo', 'junio', 'julio', 'julio', 'agosto']

In [21]:
meses.insert(3,"abril")
print(meses)

['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'julio', 'agosto']

In [ ]:
valor = 8
if valor>4:
    print(valor,"es mayor que 4")

In [23]:
valor = 9
if valor>20:
    print("numero es mas grande que 20")
else:
    print("numero es menor que 20")

numero es menor que 20

In [26]:
valor=input("posa un numero")
valor=float(valor)
if valor>15.20:
    print("corecto")

corecto

practica 3

In [32]:
x=8
if x>=10:
    print("mas pequeno o iguala 10")
elif X<=50:
    print ("esta entre >10-50")
else:
    print("es mas grande que 50")

esta entre >10-50

In [37]:

lista2 = [1,2,3,4,5] 
for i in lista2:
  print ("el numero es",i)

el numero es 1
el numero es 2
el numero es 3
el numero es 4
el numero es 5

In [43]:
lista4 = range(15) 
lista = (lista4)

In [48]:
lista5 = range(10, 30, 3)
list(lista5)

[10, 13, 16, 19, 22, 25, 28]

In [ ]:
iter =1 
for i in range(10,25):
112    print("el valor de lista es",i)
2222    print("el valor del intervalo es"iter)
    print ("el numero del intervalo es", iter)
    iter=iter +1
    iter+=1
    print("el numero total del intervalo es",iter-1)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3660022240.py, line 4)

In [53]:
semana=["lunes","martes","miercoles","jueves","viernes"]
for dia in semana:
    print ("el dia de la semana es",dia)

el dia de la semana es lunes
el dia de la semana es martes
el dia de la semana es miercoles
el dia de la semana es jueves
el dia de la semana es viernes

In [4]:
semana={"lunes" ,"martes","miercoles","jueves","viernes"}
for dia in semana:
    print("el dia de la semana",dia)

el dia de la semana miercoles
el dia de la semana jueves
el dia de la semana martes
el dia de la semana viernes
el dia de la semana lunes

In [ ]:
iteer= 1
for dia in semana:
    print ("el",iter, dia de la semana es",dia)"
    "iter= iter +1

SyntaxError: unterminated string literal (detected at line 4) (2265563313.py, line 4)

In [ ]:
semana ={"lunes",martes","miercoles","jueves","viernes"}"
ordinal={"PermissionError"
iter= 0
for dia in semana:
print(El",ordinal,)

las fuciones de logica AND y Or combinar y el if . or analizando varias condiciones o provee logicas y retorna verdadero o falso. el or retorna verdadero o falso
el AND analiza varias condiciones y provee logicas

In [16]:
ciudad = "barcelona"
importe = 1050
if (ciudad=="barcelona") or (importe>1000):
    print("faig dte%")
else:
    print("no faig dte%")

faig dte%

In [18]:
ciudad = "barcelona"
importe = 1050
if (ciudad=="barcelona") or (importe>1000):
    print("faig dte%")
else:
    print("no faig dte%")

faig dte%

cuando el AND

In [15]:
numero = 6
if(numero>=10) and (numero<=50):
    print("numero compres entre 10 i 50 o entre 100 i 200")
else:
 print("fora del tram de 10 i 50")

fora del tram de 10 i 50

In [14]:
numero =33
if (10>numero>50) or (100<numero<200):
    print("numero compres entre 10 i 50 o entre 100 i 200")
else:
    print("fora del tran de 10 i 50")

fora del tran de 10 i 50

In [13]:
numero =5
if (numero<30) and (numero>0):
    print("Numero esta entre 0 y 30")
else:
    print("numero fuera del intervalo")

Numero esta entre 0 y 30

In [ ]:
numeros2 ={5,-8,145,75,62,37,-20,41,26}
for i in numeros2:
    if (i<0) or (i>120):
        print("el numero",i,"esta fora de tram")
    elif i>=0 and i<30:
        if (i<0) or (i>120):
        print("el numero",i,"esta fora de tram")
    elif i>=0 and i<30:
        if (i<0) or (i>120):
        print("el numero",i,"esta fora de tram")
    elif i>=0 and i<30:
        if (i<0) or (i>120):
        print("el numero",i,"esta fora de tram")
    elif i>=0 and i<30:

In [20]:
paraula = "dimenge"
for lletra in paraula:
    print(lletra)

d
i
m
e
n
g
e

In [21]:
paraula = "diumenge"
for lletra in paraula:
    if lletra=="n":
        continue
    print(lletra)

d
i
u
m
e
g
e

In [ ]:
funciones de texto ineresantes upper=mayusculas, lower= minusculas
#replace = remplaza valores, split = dividir una cadena, por espacios en blanco

In [22]:
print(paraula.upper())

DIUMENGE

In [24]:
print(paraula.lower())
print(paraula.replace("e","@"))

diumenge
dium@ng@

In [25]:
text = "el dillums us espero aqui a tots, no falteu"
llista = text.split()
list(llista)

['el', 'dillums', 'us', 'espero', 'aqui', 'a', 'tots,', 'no', 'falteu']

In [27]:
text = "el dillums us espero aqui a tots, no falteu"
text = text,replace((",",")")) #"" vol dir buil
llista = text.split()
llista
·llista{2}

SyntaxError: invalid character '·' (U+00B7) (361255681.py, line 5)

In [ ]:
llista3 = {"Gener","febrero","Marzo"}
#primer entre cometes el caracter que vull que

In [ ]:
Practica 12: Junta els elementos de una lista que te permita separar dia, mes i any ycon una variable que contenga la data correcta 02/04/2025

In [28]:
fecha ={"02","04","2025"}
print(fecha)

{'02', '2025', '04'}

In [ ]:
practica 13 una lista de numeros {28,25,32,7,44,35,62,73} imprimir los numeros por individual que muestre la suma mas pequeño que 180

numeros = {28,25,32,7,44,35,62,73}



prantica 14 mostrar un texto nomas la cuarta palabra de la palabra frase = "esto sera una frase de prueba para la practica 14

In [ ]:
lista = [28,15,32,7,44,35,62,73]

total = 0
for numero in lista:
    total += numero
    if total > 180:
        break
    print(total)

28
43
75
82
126
161

In [45]:
frase = "esto sera una frase de prueba para la practica 14"
frase_separada = frase.split(" ")
print(frase_separada)
print(frase_separada[3])

['esto', 'sera', 'una', 'frase', 'de', 'prueba', 'para', 'la', 'practica', '14']
frase

In [49]:
#les funciones personalizadas en pyton, que es una funcion es un codigo que da un resultado entendra la seva sintanxis.
#por cada una 


def suma3(x):
    print(x+3)
    

#i aqui la crido
suma3(20)
suma3(180)

23
183

In [51]:
def retar3(x):
    resultat = x-3
    return (resultat)

In [52]:
%whos

Variable         Type        Data/Info
--------------------------------------
ciudad           str         barcelona
dia              str         lunes
fecha            set         {'02', '2025', '04'}
frase            str         esto sera una frase de prueba para la practica 14
frase_separada   list        n=10
importe          int         1050
lista            list        n=8
lletra           str         e
llista           list        n=9
numero           int         62
paraula          str         diumenge
retar3           function    <function retar3 at 0x000001F55402EE80>
semana           set         {'miercoles', 'jueves', '<...>tes', 'viernes', 'lunes'}
suma             int         0
suma3            function    <function suma3 at 0x000001F55402FCE0>
text             str         el dillums us espero aqui a tots, no falteu
total            int         223

In [ ]:
#eliminar un objeto del queirner 
#del 
#funcion que contenga dos parametros

def sumaab(a,b):
    return int(a)+int(b)
#pasar valor desde imput
a = input("possi el valor de a")
b = input("possi el valor de b")
#cridar a la funcion
sumaab(a, b)

83

In [ ]:
#practica 16

def funcion(numero):
    resultado = numero - 4
    resultado = resultado / 2
    return resultado

funcion(8)
funcion(5)
funcion (20)
suma3(10)
funcion(30)

13

13.0

In [68]:
#practica 17
def area_triangulo(base, altura):
    resultado = base * altura
    resultado = resultado / 2
    return resultado

area(2,4)

4.0